@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Red+Hat+Display&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans' !important;
  /* text-decoration: none; */
}


a{
  text-decoration: none;
  /* color:"#64748B" !important; */
  /* background-color: red; */
  /* color: gray; */
  /* color:"#64748B" */

  /* color: rgb(125, 110, 110); */
  color: gray;
}
a:hover{
  text-decoration:underline;
}

.icon:hover{
  color:"brown";
  cursor: pointer;
}

.animation{

}


.animation:hover{
  /* transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)); */

  /* transition-duration: .3s;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-property: transform;
  transition-duration: .15s; */
  /* background-color: red; */

  --tw-rotate: -2deg;
  /* transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)); */
}

.bracket{
  /* background-color: red; */
  /* margin-top: -4rem; */
  margin-bottom: -1.9rem;
}

